@media screen and (max-device-width: 667px) {
    .wrapper .lefthead {
        display: none;
    }
    .wrapper .righthead {
        height: 50%;
        width: 100%;
    }
    .wrapper .content {
        height: 25%;
        width: 100%;
        border: black 2px solid;
        margin: 0 0;
        order: -2;
    }
    #SB3 {
        width: 100%;
        height: 25%;
        margin: 5px 0;
        float: left;
        order: -2;
    }
    #SB2 {
        display: none;
    }

    #SB1 {
        display: none;
    }
}
@media only screen and (max-device-width: 1024px) and (min-device-width: 668px){

    .wrapper .lefthead {
        width: 29.5%;
        height: 20vh;
        order: -3;
    }

    .wrapper .righthead {
        width: 100%;
        height: 55vh;
        margin: 5px 0;
    }
    #SB1 {
        display: none;
    }
    .wrapper .content{
        height: 20vh;
        width: 49.5%;
        float: left;
        margin: 0 0;
    }
     .wrapper #SB2 {
        width: 49.5%;
        height: 20vh;
    }
    .wrapper #SB3 {
        height: 20vh;
        width: 69.5%;
        order: -1;
    }
}
body{
    background-image: url("../pic/hangarB.jpg") ;
    -webkit-background-image: url("../pic/hangarB.jpg");
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: space-between;
}
/*--------------------------------------------------*/
.lefthead{
    width: 49.5%;
    height: 20%;
    background-color: rgba(255, 190, 133, 0.4);
    -webkit-transition: 1s ease;
}
.lefthead:hover{
    background-color: rgba(255, 190, 133, 0.8);
    animation: shadow  1s linear;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 50px;

}
@keyframes shadow {
    from{background-color: rgba(255, 190, 133, 0.4)}
    to{background-color: rgba(255, 190, 133, 0.8)}
}
/*--------------------------------------------------*/
.righthead{
    width: 49.5%;
    height: 20%;
    background-color: rgba(175, 109, 135, 0.4);
    -webkit-transition: 1s ease;
}
.righthead:hover{
    background-color: rgba(175, 109, 135, 0.8);
    animation: shadow2  1s linear;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 50px;
}
@keyframes shadow2 {
    from{background-color: rgba(175, 109, 135, 0.4)}
    to{background-color: rgba(175, 109, 135, 0.8)}
}
/*--------------------------------------------------*/
.content{
    width: 100%;
    height: 55%;
    margin: 10px 0;
    background-color: rgba(43, 90, 75, 0.4);
    -webkit-transition: 1s ease;
}
.content:hover{
    background-color: rgba(43, 90, 75, 0.8);
    animation: shadow3  1s linear;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 50px;
}
@keyframes shadow3 {
    from{background-color: rgba(43, 90, 75, 0.4)}
    to{background-color: rgba(43, 90, 75, 0.8)}
}
/*--------------------------------------------------*/
.side{
    display: inline-block;
    width: 32.75%;
    height: 20%;
    margin: 0 -1px ;
    text-align: center;
    -webkit-transition: 1s ease;
}
/*--------------------------------------------------*/
#SB1{background-color: rgba(199, 199, 165, 0.4);}
#SB1:hover{
    background-color: rgba(199, 199, 165, 0.8);
    animation: shadow4  1s linear;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 50px;
}
@keyframes shadow4 {
    from{background-color: rgba(199, 199, 165, 0.4)}
    to{background-color: rgba(199, 199, 165, 0.8)}
}
/*--------------------------------------------------*/
#SB2{background-color: rgba(186, 206, 221, 0.4); }
#SB2:hover{
    background-color: rgba(186, 206, 221, 0.8);
    animation: shadow5  1s linear;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 50px;
}
@keyframes shadow5 {
    from{background-color: rgba(186, 206, 221, 0.4)}
    to{background-color: rgba(186, 206, 221, 0.8)}
}
/*--------------------------------------------------*/
#SB3{background-color: rgba(186, 134, 203, 0.4);}
#SB3:hover{
    background-color: rgba(186, 134, 203, 0.8);
    animation: shadow6  1s linear;
    border: rgba(255, 255, 255, 0.5) 1px solid;
    border-radius: 50px;
}
@keyframes shadow6 {
    from{background-color: rgba(186, 134, 203, 0.4)}
    to{background-color: rgba(186, 134, 203, 0.8)}
}
/*--------------------------------------------------*/